<div class="block block-proceed-without-login">
    <div class="block-title">
        <strong id="block-no-account-heading" role="heading" aria-level="2" data-bind="i18n: 'I do not have an account'"></strong>
    </div>
    <div class="block-content" aria-labelledby="block-no-account-heading">
        <p data-bind="i18n: 'Buy as a guest without creating an account.'"></p>
        <div class="actions-toolbar">
            <div class="primary">
                <a class="action create primary" data-bind="click: $parent.proceedWithoutLogin">
                    <span data-bind="i18n: 'Continue without logging in'"></span>
                </a>
            </div>
        </div>
    </div>
</div>
