<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="loginStepProcessor" xsi:type="object">Grasch\CheckoutLoginStep\Block\Checkout\LoginStepProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
